*{
    margin: 0;
}

#logo{
    width: 200px;
    height: 100px;; 
    margin-top: 40px;
    margin-bottom: 10px;
    margin-left:20px;
}

header{
    size: 500px;
    background: black;
    display: flex;
    justify-content: space-between;
}
header h1{
    color: rgb(255, 255, 255);
    margin-top: 48px;
    margin-bottom: 48px;
    text-align: center;
    font-family: "Abel", sans-serif !important;
    font-size: 32px;
}

header div nav ul{
    list-style: none;
    display: flex;
}

header div nav ul li{
    font-size: 18px;
    margin: 10px;
    margin-top: 130px;
    margin-bottom: 10px;
}

header div nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.espacio1{
    margin-bottom: 10px;
    background: rgb(41,104,204);
    background: linear-gradient(0deg, rgba(41,104,204,0.9) 0%, rgba(0,0,0,1) 100%);
}

/*Esilos Body*/

body{
    background: rgb(19,52,121);
    background: linear-gradient(0deg, rgba(19,52,121,0.9) 0%, rgba(61,101,195,1) 100%);
}

.fondo{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    line-height: 1.5;
    color: rgb(254, 254, 255);
    background: rgb(0, 0, 0);
    border-radius: 10px;
}

h2{
    margin-left: 15px;
    padding-top: 5px;
    font-family:'Times New Roman', Times, serif;
    font-size: 26px;
    text-align: center;
}

.imagen{
    width: 500px;
    border-radius: 10px;
    border: solid;
    border-color: black;
}
.carrucel{
    width: 500px;
    height: 360px;
    margin: auto;
}
/*Aqui comienzan los estilos del footer*/

footer{
    text-align: center;
    background-color: black;
    color: white;
    height:200px;

}
.espacio2{
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(41,134,204,1) 100%);
}
